.footer {
    background-color: #000;
    height: 434px;
    color: #fff;
}

.footer__conteiner {
    display: flex;
}

.footer__column1 {
    margin-top: 40px;
}

.footer__logo {
    margin-bottom: 68px;
}

.footer__column2 {
    align-self: flex-end;
    margin-left: 98px;
}

.footer__column3 {
    position: relative;
    margin-left: 30px;
}

.testimonials__button {
    display: inline-block;
    margin-bottom: 44px;
}
.social__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.social__item {
    min-height: 26px;
    padding-left: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 0 center;
}

.social__item_facebook {
    background-image: url('@img/soc_face 1.png');
}
.social__item_twitter {
    background-image: url('@img/soc_twit.png');
}
.social__item_instagram {
    background-image: url('@img/soc_ist.png');
}
.social__item_youtube {
    background-image: url('@img/soc_you.png');
}


.footer__subscribe {
    margin-top: 40px;
    margin-bottom: 14px;
}

.footer__subscride_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}


.footer__list {
    display: flex;
    column-gap: 58px;

}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.footer__form_section {
    display: flex;
}

.footer__input {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    margin-right: 10px;
    width: 228px;
    height: 42px;
    border: 0.7px solid #F9804B;
    border-radius: 5px;
    background-color: transparent;
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            color: #BDBDBD;
            padding-left: 10px;
        }
    
}

.footer_submit {
    background-color:#F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    width: 129px;
    height: 42px;
    color: #4B9200;
}

.footer__development {
    position: absolute;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    bottom: 0;
    right: 0;
}
