.testimonials {
    background-image: url('@img/testimonials_bg.png');
    background-repeat: no-repeat;
    background-position: right 0 bottom -130px;
}

.testimonials__conteiner {
    margin-top: 140px;

}

.testimonials__title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
    margin-bottom: 47px;
}

.testimonials__list {
    display: flex;
    column-gap: 30px;
    margin-bottom: 31px;
    overflow-x: auto;
    padding-bottom: 2px;
    padding-bottom: 22px;
        &::-webkit-scrollbar {
            height: 8px;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #FE9013;
            border-radius: 5px;
            border: 1px solid #F5F7F6;
        }
        &::-webkit-scrollbar-track {
            background-color: #F5F7F6;
        }

}

.testimonials__item {
    position: relative;
    min-width: 263px;
    min-height: 391px;
    background: #F1F3F2;
    border-radius: 20px;
    margin-left: 2px;
    margin-top: 2px;
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            right: -2px;
            bottom: -2px;
            left: -2px;
            background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
            linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
            border-radius: 20px;
            z-index: -1;
        }
}


.testimonials__item_title-user1{
    padding-left: 63px;
    padding-top: 15px;
    background-image: url('@img/testimonials__icon_1.png');
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-bottom: 10px;
}
.testimonials__item_title-user2{
    padding-left: 63px;
    padding-top: 15px;
    background-image: url('@img/testimonials__icon_2.png');
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-bottom: 10px;
}
.testimonials__item_title-user3{
    padding-left: 63px;
    padding-top: 15px;
    background-image: url('@img/testimonials__icon_3.png');
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-bottom: 10px;
}
.testimonials__item_title-user4{
    padding-left: 63px;
    padding-top: 15px;
    background-image: url('@img/testimonials__icon_4.png');
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-bottom: 10px;
}
.testimonials__item_title-user5{
    padding-left: 63px;
    padding-top: 15px;
    background-image: url('@img/testimonials__icon_1.png');
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-bottom: 10px;
}

.testimonials__item_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.testimonials__item_title-location {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials__title_about {

    padding: 0 15px 19px 16px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}
.testimonials__button_wrapper {
    display: inline-block;
    margin-bottom: 180px;
}
.testimonials__button {
    border-radius: 5px;

}

