.intro {
    min-height: 700px;
    background-image: url('@img/panda_intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -70px;
}

.intro__benefits {
    position: relative;
}

.intro_cycle {
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 247.5px);
    top: 10px;
}

.intro__title {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 86px;
}

.intro__title_text {
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro__title_text-orange {
    color: #FFEE2E;
}
.intro__button  {
    position: absolute;
    left: calc(50% - 298px/2 + 332px);
    top: 546px;
}
.button_cycle {

    width: 298px;
    height: 54px;
    background-color: #F9804B;
    transition: all 500ms ease;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
        &:hover {
            background-color: #E47209;
        }
        &:active {
            background-color: #4B9200;
            transform: translate(2px,3px);
        }
        &:disabled:hover {
            background-color: #767474;
        }
}