@import "normalize";
@import "reset";
@import "fonts";

//default style's
html {
    box-sizing: border-box;
}

body {
    // width: 1600px;
    margin: 0 auto;
    background-color: #fff;
    font-family: 'Roboto', sans-serif; // используем подключенный шрифт

}

.container {
    max-width: 1160px;
    margin: 0 auto;
}


@import "blocks/header";
@import "blocks/intro";
@import "blocks/article";
@import "blocks/cards";
@import "blocks/section";
@import "blocks/testimonials";


// @import "mediaQueries";

